<!DOCTYPE html>
<html lang="en">
    <head>
        <title>kenzo child coding</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	
		
    </head>
    <body>
	
    
	<div class="container">
	<div class="row">
  <div class="col-md-6 homepage_content about"><b><h3>ABOUT</h3></b>
  <hr>
  <p>I am a professional web2.0 website designer having more than seven <br>years industrial experience with satisfied clients worldwide.</p><br> 
  <p>Whether you are an individual requiring a small website or a large corporation requiring a much more intricate website, my dedication is uncompromising.
  <br> As a professional freelance web designer, I am very well acquainted with <br>all the parameters that work in making a website a success.</p>
  
  </div>
  <div class="col-md-3 homepage_content"><b><h3>STUFF I'VE DONE</h3></b>
 <hr> 
 <h6>The DO list</h6>
 <h6>How do i lezrn design?</h6>
 <h6>Strive for the unconfortable</h6>
 <h6>The complete web developer bootcamp</h6>
 </div>
  <div class="col-md-3 homepage_content"></b><h3>STUFF I'VE BUILT</h3></b>
  <hr>
  <h6>MeetDev</h5>
 <h6>KENZO CHILD CODING</h5>
 <h6>Hamik restaurant</h5>
 <h6>Creative Solutions</h5>
 <h6>SBMTP constructions</h6>
  </div>
</div>
</div>

<footer class="mainfooter">
<p class="copiright">&copy;2015 Kenzo Child</p>
<nav>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-github"></i></a>
</nav>
</footer>

	</body>
</html>